<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>counselling</display-name>
	<!-- security configuration file in context config location setting -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/classes/applicationContext/**/*.xml </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
        <listener-class>com.inn.counselling.security.authentication.SessionsTimeoutHandler</listener-class>
    </listener>
    <!-- It is used when we are using spring MVC for Rest point instead of using JAX-RS -->
<!--
<servlet>
	<servelet-name>dispatcher</servelet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>dispatcher</servlet-name>
	<url-pateern>/rest/*</url-pateern>
</servlet-mapping>
-->

    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	<!-- Spring’s DelegatingFilterProxy provides the link between web.xml and the application context-->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
		<filter-name>SpringOpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SpringOpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/redirecterror.jsp?code=500</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/redirecterror.jsp?code=404</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>jsp/redirect.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                <strong>all</strong>
            </web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>PUT</http-method>
            <http-method>TRACE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>PATCH</http-method>
            <http-method>HEAD</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
</web-app>
