<table border="0" cellpadding="10" cellspacing="0" width="600">
    <tr>
        <td valign="top" style="padding-left:0;">
            <div mc:edit="std_content00">
                <h2 class="h2">Welcome to counselling </h2>
                <h3 class="h3"><strong>Dear ${Users.firstname}</strong> </h3>
                <p> <strong>Please Reset Your Password by clicking on the link below:</strong><br />
                    <a href="${String}/rest/unauthorize/resetCheckSum/${Users.id}/${token}">Activation Link</a><br />
                    <!--span class="footerContent style2">(If the link above does not appear clickable or does not open a browser window  when you click it, copy it and paste it into your web browser.)</span-->
                    <p>Your account details are here :<br />
                        <p>
                            We appreciate your interest in www.counselling.com. If you have any queries, please write to us at <a href="mailto:support@counselling.com">support@counselling.com</a><br />
                            <br />
                            Regards,<br />
                            counselling Team</p>
            </div>
        </td>
    </tr>
</table>
